PRIVATE_KEY=
CIRCLE_KIT_KEY=
CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
BETTER_AUTH_URL=https://examples.localhost
CORS_ORIGIN=https://examples.localhost


# Generate using `openssl rand -hex 32`
BETTER_AUTH_SECRET=